<form *ngIf='chosenArtists.length != 3' class="">

    <input 
        required 
        [(ngModel)]='artistinput'
        placeholder="Search" 
        name='artistinput'
        id='input'
        #input 
        type="text">

    <input [hidden]=true (click)='searchartist()' type="submit" class="btn" id="submit">

</form>

<button 
    data-toggle='modal'
    data-target="#o"
    *ngIf='chosenArtists.length == 3'
    class="btn calcBtn" 
    (click)='CalcObsc()'
    >Calculate obscurity
</button>

