#greetings{
    text-align: center;
    position: absolute;
    right: 10%;
    top: 7rem;
    width: 50%
}

.inputContainer{
    padding: 3rem 2rem 2rem 1rem;;
}

hr{
    border-bottom: 3px solid #8c7ae6;
}

.selected-container{
    position: relative;
    right: -7%;
    top: 1%;

}

@media only screen and (max-width: 992px){
    .selected-container{
        position: relative;
        top:15px;
        min-width: 100%;
        right: 0%;
        justify-content: center;
    }
}

@media only screen and (max-width: 768px){
    #greetings{
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
    }

}
