
.shift{
    position: relative;
    left: 56%;
}

.selectedImg{
    position: relative;
    left: 7.5rem;
}

.far{
    position: relative;
    top: -4.6rem;
    left: -2.3rem;
    color: #e6b97a;
    padding: 2px 0px 1px 2px;
    background-color: #8c7ae6;
}

hr{
    border-bottom: 2px solid #8c7ae6
}

hr, span, button, img{
    position: relative;
    top: 1.4rem;
}

span{
    font-weight: lighter;
}

img{
    border: 3px solid #8c7ae6;
    margin-bottom: 5px;
    float: none;
}

.selectImgShift{
    left: -0.89rem;
}

@media only screen and (max-width: 1200px){ 
    .shift{
        left: 33%;
    }
}

@media only screen and (max-width: 996px){ 
    img{
        float: none;
        left: 16%;
        top: 90px;
    }

    .selectedImg{
        left: 0;
    }

    .far{
        top: -6px;
        left: 1.42rem;
    }

    span{
        top: 90px;
    }
    
    .shift{
        left: -16%;
    }
    

    .iconShift{
        left: 0.44rem;
    }

}
